footer{
    width: 100%;
    height: calc(4rem + 10px);
    position: absolute;
    bottom: 1rem;
    display: flex;
  
  }
#DockBar{
    background-color: #bdbdbd26;
    border: 1px inset #cfcfcf3b;
    border-radius: 5px;
    top: 0.5rem;
    height: 100%;
    width: 100%;
    bottom: 0;
    margin: 0 3rem;
  }

.items{
  list-style: none;
  display: flex;
  list-style-position: inside;
  flex-direction: row;
  gap:2rem;
}

.items li{
  display: flex;
  transition: all 0.1s ease-in-out;
  position: relative;
  width: 3rem;
  height: 3rem;
  max-height: 3rem;
  max-width: 3rem;
}

.li-hover:hover{
  width: 5rem;
  transform: translateY(-2rem) translateX(-1rem);
  cursor: pointer;
  height: 5rem;
}

.dockImage{
  width: inherit;
  transition: all 0.1s ease-in-out;
  transform: translateY(-.25rem);
  position: relative;
  height: inherit;

}

.dockChat{
  width: inherit;
  height: inherit;
  position: absolute;
}

.dock-border{
  border: 1px solid rgba(255, 255, 255, 0.349);
  border-radius: 0.75rem;
}

/* 
.dockImage:hover, .dockChat:hover{
width: 5rem;
transform: translateY(-2rem) translateX(-1rem);
cursor: pointer;
height: 5rem;
} */