<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>paolo chat</title>

    <link rel="stylesheet" href="/css/main-window.css" />
    <link rel="stylesheet" href="/css/drag.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/loginScreen.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/chat.css" />
    <link rel="stylesheet" href="/css/friend.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/solid.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/css/base/jquery.ui.all.min.css"
      integrity="sha512-OHBxeI8iAKq327e6AmvA+2b03CuP0mzDyZTF8FcDXs4YNLZybm0sPqQPRwwEZ74a3mkGBNcrKOeFzfgiLCTwiA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
  </head>

  <body class="animate__animated animate__fadeIn animate__slower">
    <audio id="beep" src="/sounds/beep.mp3"></audio>
    <audio id="beep2" src="/sounds/beep2.mp3"></audio>
    <audio id="beep3" src="/sounds/beep3.mp3"></audio>
    <audio id="beeperror" src="/sounds/beeperror.mp3"></audio>
    <audio id="backsound" src="/sounds/back.mp3"></audio>

    <div id="loginScreen" class="login">
      <div
        id="bg"
        class="bg animate__animated animate__fadeIn animate__slower"
      ></div>
      <form
        id="loginForm"
        class="animate__animated animate__fadeIn animate__slower"
      >
        <div class="profile-group">
          <img
            id="profile"
            class="animate__animated animate__fadeIn"
            src="picture.png"
            alt=""
          />
          <p id="username">Username</p>
        </div>
        <div class="login-group">

          <input
            id="loginInput"
            type="text"
            placeholder="What is your Username?"
            required
          />
          <button class="arrowButton"><i class="fa fa-check"></i></button>
        </div>
        <div class="password-group" style="display: none">
          <span class="arrowBack"><i class="fa-solid fa-arrow-left"></i></span>
          <input id="passwordInput" type="text" autocomplete="off" />
          <button class="enterButton" type="submit"><p style="padding:0.25rem;">Enter</p></button>
        </div>
      </form>
    </div>

    <div id="MessageModal" class="messagemodal hidden">
      <div class="modal2">
        <div class="window-content">
          <div class="image">
            <img id="modal-image" src="error.png" width="48px" alt="avatar" />
          </div>
          <div class="modal-header">
            <p id="modal-text">User Not Found</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script src="/js/login.js"></script>
    <script src="/js/scripts2.js"></script>
    <script src="/js/welcome.js"></script>
  </body>
</html>
